@import "partials/_helpers.scss";
@import "partials/_constants.scss";

@import "partials/_header.scss";
@import "partials/_body.scss";

* {
  box-sizing: border-box;
}

div.page {
  font-family: 'Roboto Slab', serif;
  width: 210mm;
  height: 297mm;
  margin: auto;
  background-color: $page-color;

  @include box-shadow($page-shadow);

  .content {
    padding: 0.5cm;
    position: relative;

    background-image: url("/img/vnarusis_side.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 80px 220mm;
  }
}

body {
  margin: 15vh 25px;
  background-image: url("/img/cv/background.jpg");
  background-attachment: fixed;
}

.logo {
  position: absolute;
  right: 10px;
  bottom: 0;
  margin: auto;
  height: 3cm;

}